.imgsize {
  height: 150px;
  width: 150px;
  display: inline;
  box-sizing: content-box	;

}
.noborderbox {
    box-sizing: content-box	;

}
.catcontent {
    display: inline;
      box-sizing: content-box	;


}